<ion-view class="rowMainScreen" hide-nav-bar="true" cache-view="false">
  <ion-content scroll="false"> 
    <div class="">
        <div class="updMainScr">
			<span class="updateMeMainScText">
				<img src="css/img/picMe.png">
			</span>
		</div>
		<div>	
			<span class="loginMessage">Registered users only.</span>

			<form name="login_form" class="loginForm" ng-submit="submit()" method="post" novalidate ng-cloak>
				<input name="user_email" type="email" ng-model="userDetail.email" placeholder="Email" required>
				<input name="user_password" type="password" ng-model="userDetail.password" placeholder="Password" required>
				<div class="incorectLogin">
            	  	{{msg}}
            	 </div>
				<button type="submit" ng-disabled="login_form.user_email.$invalid || login_form.user_password.$invalid">
				 Log In 
				 <ion-spinner icon="dots" ng-show="isLogin==true" class="spinnerLogin"></ion-spinner>
                </button>
		   </form>
		</div>
    </div>
  </ion-content>
</ion-view>

