<ion-view >
	<ion-nav-title>
		<img class="investText paddingTop" src="css/img/PicMe.png" style="width: 37%;"> 
    </ion-nav-title>
   
  <ion-content lazy-scroll has-header="true"> 
	<!-- START Maintenance -->
		<div class="section">
			<h4 class="sectionTitle bold lightGreen">Maintenance</h4>
			<div  ng-repeat="maintenances in maintenanceObg track by $index" class="animated fadeIn" >
				<div class="animated fadeInLeft col-20" ng-style="{'background-image': 'url(http://ec2-52-32-92-71.us-west-2.compute.amazonaws.com/uploads/{{maintenances.FileName}})'}"></div>	 
		        <i  class="right left-10 ion-chevron-right top-5" ng-click="openModal(29,1,{{maintenances.WorkOrder}})"></i>			
		    	<button class="right left-10 " >upload</button>
		    	<ul class="padding paddingTop">
						<li>
							<b>{{maintenances.Maintenance}}</b>
						</li>
						<li>
							<span>Work Order:</span>
							<span>{{maintenances.WorkOrder}}</span>
						</li>
						<li>
							<span>{{maintenances.Date}}</span>
							
						</li>
				</ul>
				<br><hr><br>
				</div>
			</div>
	 <!-- END Maintenance -->
		
	 	<!-- START Renovation --> 
	 	<div class="section" > 
	 		<h4 class="sectionTitle bold lightGreen">Renovation</h4>
			<div  class="animated fadeIn" ng-if="isRenovation" >
		        <div class="animated fadeInLeft col-20" ng-style="{'background-image': 'url(http://ec2-52-32-92-71.us-west-2.compute.amazonaws.com/uploads/'+renovationFileName+')'}"></div>	 
		        <i  class="right left-10 ion-chevron-right top-5" ng-click="openModal(11,2,0)"></i>			
		    	<button class="right left-10 ">upload</button>
		    <ul class="padding paddingTop">
						<li>
							<b>{{renovation['Description']}}</b>
							<span></span>
						</li>
						<li>
							<span>{{renovation['StartDate']}}</span>
						</li>
				</ul>
			</div>  
	 	</div> 
	 	<!-- END Renovation --> 
		
	<div class="dropdown-menu dropdown-content width-350">
		<div ng-repeat="chat in chatsTitle" class="userChadInside">
			<div ng-repeat="(key, value) in chat track by $index"  ng-if="value.user == 'Me office'">
				<li ng-show="$last" >
					<div class="media-left" ng-init="setNewM(1, $last)"></div>
				</li>
			</div>
		</div>		
	</div>
	
	 <h4>Upload on file select</h4>
  <button ngf-select="uploadFiles($files, $invalidFiles)" multiple
          accept="image/*" ngf-max-height="1000" ngf-max-size="1MB">
      Select Files</button>
  <br><br>
  Files:
  <ul>
    <li ng-repeat="f in files" style="font:smaller">{{f.name}} {{f.$errorParam}}
      <span class="progress" ng-show="f.progress >= 0">
        <div style="width:{{f.progress}}%"   ng-bind="f.progress + '%'"></div>
      </span>
    </li>
    <li ng-repeat="f in errFiles" style="font:smaller">{{f.name}} {{f.$error}} {{f.$errorParam}}
    </li> 
  </ul>
  {{errorMsg}}
  
  </ion-content>
       
  <div class="float-button" ng-if="show_chat_bu" ng-click="selectChat()">
     <span class="height-fix"> 
         <a class="content"> 
         	<span class="msNum" ng-if="msNum != 0"> {{msNum}} </span>
            <i class="ion-ios-chatboxes"> </i> 
         </a> 
  	</span> 
  </div>
   
</ion-view>

<script id="my-modal.html" type="text/ng-template">
	<ion-modal-view>
    	<ion-header-bar>
    		<h1 class="title" id="title">Maintenance</h1>
			<button class="button button-clear button-primary" ng-click="closeModal()">Cancel</button>	
    	</ion-header-bar>
    	<ion-content>
			<ion-slide-box ng-if="sliderImg">
		   		<ion-slide ng-repeat="img in sliderImg">
				  <b>Title: </b><span>{{img.Title}}</span><br>
				  <b>Date: </b><span>{{img.Date}}</span><br>
			  	  <div class="propertyImg" 
			   	 	ng-style="{'background-image':'url(http://ec2-52-32-92-71.us-west-2.compute.amazonaws.com/uploads/{{ img.FileName }})'}">		    
			   	  </div>
				</ion-slide>	   	
		   	</ion-slide-box>
    	</ion-content>
	</ion-modal-view>
</script>

