<ion-view class="navClass">
 	<ion-nav-title>
		<img class="investText paddingTop" src="css/img/PicMe.png" style="width: 27%;"> 
    </ion-nav-title>
<ion-pane>
  <ion-content lazy-scroll has-header="true" ng-init="init()">

	<ion-spinner icon="bubbles" ng-if='isPropertiesLoading' class="spinner"></ion-spinner>
	<div ng-if='!isPropertiesLoading'> 
	    <!-- START Your properties section -->
	    <div class="overviewTitle">
	      <h2>PROPERTIES</h2>
	      <h4>List of your properties</h4>
	    </div>  
	    <div id="INVESTMENTSimg">
	    	<div ng-repeat="property in propertyImage track by $index" class="animated col {{property.class}}" 
	    	ng-style="{'background-image': 'url(http://ec2-52-32-92-71.us-west-2.compute.amazonaws.com/uploads/{{ property.FileName }})'}"
	    	ng-click="showPropertyDetails(property.PropertyId, property.FileName)">
	    		<div class="overviewAddress">{{property.PropertyName}}</div>
	    	</div>	    	
	    </div>
	    
	    <!-- END Your properties section -->
	    <div class="height_15px clearb"></div>	   
	</div>
	<!-- <div class="hide dropdown-menu dropdown-content width-350">
		<ul class="media-list dropdown-content-body">
			<div ng-repeat="chat in chatsTitle" class="userChadInside">	
				<div ng-repeat="(key, value) in chat track by $index" ng-if="value.user == 'Me office'">	
					<li ng-show="$last" class="media" ng-click="getUserId(value.userid)">
						<div class="media-left" ng-init="setNewM(1, $last)">
							<img src="<?php echo base_url(); ?>assets/images/placeholder.jpg" class="img-circle img-sm" alt="">
						</div>
		
						<div class="media-body">
							<a href="#" class="media-heading">
								<span class="text-semibold">{{value.user}}</span>
							</a>		
							<span class="text-muted">{{value.message}}</span>		
						</div>
					</li>
				</div>
			</div>							
		</ul>
	</div> -->
  
  </ion-content>
</ion-pane>
 
	<!--<div class="float-button"  ng-class="{'new-message': is_client_m}" ng-if="show_chat_bu" ng-click="selectChat()">
		<span class="height-fix"> 
	        <a class="content"> 
		        <span class="msNum" ng-if="msNum != 0"> {{msNum}} </span>
		        <i class="ion-ios-chatboxes"> </i> 
	        </a> 
        </span> 
	</div> -->

 <!-- Button Ends --> 
</ion-view>
